#cabbage-box {
    align-items: center;
    background: #fafafa;
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    bottom: 0;
    cursor: pointer;
    display: flex;
    padding: 0.31rem 1rem;
    position: fixed;
    right: 0;
    z-index: 10000;
}

#cabbage-box.expanded {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    bottom: 10%;
    display: block;
    left: 10%;
    right: 10%;
    top: 10%;
}

#cabbage-box .tips {
    display: none;
}

#cabbage-box.expanded .tips {
    clear: left;
    display: block;
}

#cabbage-box.expanded .tips ul {
    list-style-type: circle;
    list-style-position: inside;
}

#cabbage-box.expanded .tips ul li {
    margin-bottom: 0.72rem;
    margin-left: 0.2rem;
}

#cabbage-box h3 {
    display: block;
    float: left;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

#cabbage-box img.logo {
    height: 2rem;
    padding-left: 1rem;
}

#cabbage-box.expanded h3 {
    font-size: 140%;
    margin-bottom: 0.95rem;
    margin-top: 0.7rem;
}

#cabbage-box.expanded img.logo {
    float: right;
    height: 3.4rem;
}